{% load i18n %} {% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html
  _="on load 
      if localStorage.theme is not empty
        if localStorage.theme equals 'dark'
          set @class to 'dark'
        else if localStorage.theme equals 'light'
          set @class to 'light'
        else if localStorage.theme equals 'system'
          if window.matchMedia('(prefers-color-scheme: dark)').matches
            set @class to 'dark'
          end
        end
      else if window.matchMedia('(prefers-color-scheme: dark)').matches
        set @class to 'dark'
      end
    end
  "
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12/dist/_hyperscript.min.js"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
      @custom-variant dark (&:where(.dark, .dark *));
      @layer base {
        select,
        option {
          @apply bg-white dark:bg-slate-800 text-slate-800 dark:text-white;
        }
        input:disabled {
          @apply opacity-50 cursor-not-allowed bg-gray-200 dark:bg-gray-700;
        }
      }
    </style>
    {% block title %}{% endblock %}
  </head>
  <body class="bg-white dark:bg-slate-800 text-slate-800 dark:text-white">
    <header class="flex justify-end m-2" id="header">
      <div>
        <select
          name="language"
          id="language"
          hx-get="/"
          hx-trigger="change"
          hx-select="#screen, #header"
          hx-target="#screen, #header"
          hx-swap="outerHTML"
          hx-headers='js:{"X-CSRFToken": document.cookie.split("; ").find((row) => row.startsWith("csrftoken="))?.split("=")[1]}'
          _="
          on change 
            if event.target.value equals '' 
              halt the event
            else
              log event.target.value
              set cookies.django_language to event.target.value
            end
            
          end
        "
        >
          <option value="" selected hidden>{% translate 'Select a language' %}</option>
          {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}" {% if lang.0 == request.COOKIES.django_language %} selected{% endif %}>{{ lang.1 }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <select
          name="theme"
          id="theme"
          _="            
          on change 
          if event.target.value equals 'dark' 
            set @class of document.documentElement to 'dark' 
          else if event.target.value equals 'light'  
            set @class of document.documentElement to 'light'
          else if event.target.value equals 'system'  
            if window.matchMedia('(prefers-color-scheme: dark)').matches
              set @class of document.documentElement to 'dark' 
            else 
              set @class of document.documentElement to 'light' 
            end
          end
          set localStorage.theme to event.target.value
        end
        "
        >
          <option value="" selected hidden>{% translate 'Select a theme' %}</option>
          <option value="light">{% translate 'Light' %}</option>
          <option value="dark">{% translate 'Dark' %}</option>
          <option value="system">{% translate 'System' %}</option>
        </select>
      </div>
    </header>
    <main>{% block main %} {% endblock %}</main>
  </body>
</html>
