{% extends "screen.html" %}
{% block title %}
<title>Todos</title>
{% endblock %}
{% block content %}
    <h1 class="text-4xl font-bold mb-4">
      Todos
    </h1>
    <form
      hx-post="/todo"
      hx-target="#todos"
      hx-swap="outerHTML"
      class="mb-4"
      hx-target-403="#error-add-todo"
      hx-on::before-request="document.querySelector('#title').value=''"
   >
      <div class="mb-2 flex">
        <input
          _="on keyup 
              debounced at 1000ms
              if event.target.value.length < 3
                remove #suggestions
                exit
              end
              fetch ${'`/suggestions?title=${event.target.value}`'}
              put result after #error-add-todo 
             end"
          value=""
          id="title"
          name="title"
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2.5 mr-2"
          data-testid="add-todo"
        />
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2 text-center"
          type="submit"
        >
          Add
        </button>
      </div>
      <div id="error-add-todo" class="text-red-500 text-sm"></div>
      {% for todo in todos %}
        <div class="item flex row items-center mb-2">
          <input
            role="checkbox"
            type="checkbox"
            class="mr-2"
            name="checkbox"
            hx-patch="/todo/{{todo.id}}"
            hx-target="#todos"
            hx-swap="outerHTML"
            ${completed ? 'checked' : ''}
          />
          <input
            role="textbox"
            id="{{todo.id}}"
            class="font-medium py-1 px-4 my-1 rounded-lg text-lg border bg-gray-100 text-gray-600 mr-2"
            value="{{todo.title}}"
            hx-put="/todo/{{todo.id}}"
            name="${id}"
            ${completed ? 'disabled' : ''}
            _="on keydown 
          if event.key == 'Enter'
              -- prevent the default form submission and trigger the put request
              event.preventDefault()
              trigger change 
            "
          />
          {% if not completed %}
            <button
                class="font-medium py-1 px-4 my-1 rounded-lg text-lg border bg-gray-100 text-gray-600 mr-2"
                hx-delete="/todo/{{todo.id}}"
                hx-target="#todos"
                hx-swap="outerHTML"
              >
                Delete
            </button>
          {% endif %}
          <span class="mx-2 text-sm">
            {{todo.created_modified}}
          </span>
        </div>
      {% endfor%}

    </form>
{% endblock %} 