{% load i18n %}
<div id="todos" class="transition-all ease-in-out duration-[5000s]">
  <ul>
    {% for todo in uncompletedTodos %}
    <li>{% include "todo.html" %}</li>
    {% endfor%}
  </ul>
  {% if completedTodos|length > 0 %}
  <details class="group" data-testid="show-completed">
    <summary
      class="flex items-center gap-3 font-medium marker:content-none hover:cursor-pointer"
    >
      <svg
        class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        ></path>
      </svg>
      <span id="done">
        {% translate 'Completed' %} ({{ completedTodos|length }})
      </span>
    </summary>
    <article class="px-4 pb-4">
      <ul id="todos-done">
        {% for todo in completedTodos %}
        <li>{% include "todo.html" %}</li>
        {% endfor %}
      </ul>
    </article>
  </details>
  {% endif %}
</div>
